<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985305396214-26ee90mam858rfikte3e214btlcpb4qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985305396214-26ee90mam858rfikte3e214btlcpb4qg</string>
	<key>API_KEY</key>
	<string>AIzaSyAd9M_VMzooVBRFL2XB8NgZMyi_RFFc-w0</string>
	<key>GCM_SENDER_ID</key>
	<string>985305396214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aquad.tech.mrpmile</string>
	<key>PROJECT_ID</key>
	<string>mrpmile-cb81d</string>
	<key>STORAGE_BUCKET</key>
	<string>mrpmile-cb81d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985305396214:ios:58585088629bf945734dd7</string>
	<key>DATABASE_URL</key>
	<string>https://mrpmile-cb81d.firebaseio.com</string>
</dict>
</plist>